.upload-container{
    background-color: #281500;
    padding: 0;
    margin: 0;
    color: #2b2b29;
    clear: both;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.upload-content-logo{
    width: 49%;
    display: inline-block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;

    .upload-logo{
        background: url(assets/images/logo.png) no-repeat;
        background-size: contain;
        height: 100px;
        width: 60%;
        top: 50%;
        left: 60%;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

.upload-horizental{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 2%;
    border-left: 1px solid #AFAFAF;
    height: 250px;
}

.upload-content-userUpload{
    width: 49%;
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.upload-txt{
    display: block;
    line-height: 25px;
    width: 220px;
    margin: 35px 10px;
    padding: 0px 10px;
    color: #FFFFFF;
    background: none;
    /* border-radius: 0.5em; */
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #AFAFAF;
    font-size: 13px;
}

.upload-uploadImagebtn{
    background-color:#FFD76C;
    display: block;
    line-height: 50px;
    width: 240px;
    margin: 20px 10px;
    padding: 0px 10px;
    color: #FFFFFF;
    border:none;
    font-size: 14px;
}

.upload-sendbtn{
    background-color:#FEBE12;
    display: block;
    line-height: 50px;
    width: 240px;
    margin: 20px 10px;
    padding: 0px 10px;
    color: #FFFFFF;
    border:none;
    font-size: 14px;
}

.upload-uploadImagefile{
    display:none;
}

.upload-Imagefile{
    width: 200px;
    margin: 0px 25px;
}


@media only screen and (max-device-width: 740px) 
 {
    .upload-content-logo{
        width: 100%;
        display: block;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;

        .upload-logo{
            background: url(assets/images/logo2.png) no-repeat;
            background-size: contain;
            background-position: 50% 50%;
            top: 20%;
            left: 50%;
            right: 50%;
            position: fixed;
            margin: 0 auto;
            display: block;
            text-align: center;
        }
    }

    .upload-horizental{
        display:none;
    }

    .upload-content-userUpload{
        width: 100%;
        display: block;
        position: relative;
        top: 80%;
        left:50%;
        text-align: -webkit-center;
    }

 }