.followup-container{
    background-color: #281500;
    padding: 0;
    margin: 0;
    color: #2b2b29;
    clear: both;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.followup-content-logo{
    width: 49%;
    display: inline-block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;

    .followup-logo{
        background: url(assets/images/logo.png) no-repeat;
        background-size: contain;
        height: 100px;
        width: 60%;
        top: 50%;
        left: 60%;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

.followup-horizental{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 2%;
    border-left: 1px solid #AFAFAF;
    height: 250px;
}

.followup-content-userhome{
    width: 49%;
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}


.followup-btn{
    background-color:#FEBE12;
    display: block;
    line-height: 50px;
    width: 240px;
    margin: 20px 10px;
    padding: 0px 10px;
    color: #FFFFFF;
    border:none;
    font-size: 14px;
}

@media only screen
  and (max-device-width: 736px) 
 {

 }